@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Content";
    Layout = "_LayoutSbAdm";
}



<section class="row vh-100 Content">
    
    <div class="row">
        <div class="col">
            <h2 class="text-light">
                News Header
            </h2>
            <ul class="list-unstyled text-light">
                <li class="media">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="https://hafizbukhari21.github.io/portofolio/asets/Hafiz.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                        
                    </a>                    
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">List-based media object</h5>
                        <p>
                            Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                        </p>
                    </div>
                </li>
                <li class="media my-4">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="https://hafizbukhari21.github.io/portofolio/asets/Hafiz.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                       
                    </a>                    
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">List-based media object</h5>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </li>
                <li class="media">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="https://hafizbukhari21.github.io/portofolio/asets/Hafiz.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                       
                    </a>                    
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">List-based media object</h5>
                        <p>
                            Scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col">
            <div class="categoryWrapper">
                <div class="category">
                    <img src="https://cdn.pixabay.com/photo/2012/11/28/11/11/football-67701_1280.jpg">
                    </img>
                    <div class="cateDes text-light">
                        <h2 class="">Sport</h2>
                        <p>
                            Amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>
                <div class="category text-light">
                    <img src="https://cdn.pixabay.com/photo/2017/02/01/13/52/analysis-2030261_1280.jpg">
                    </img>
                    <div class="cateDes">
                        <h2>Science</h2>
                        <p>
                            Amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>
                <div class="category text-light">
                    <img src="https://cdn.pixabay.com/photo/2016/09/24/23/34/woman-1692849_1280.jpg">
                    </img>
                    <div class="cateDes">
                        <h2>Humanity</h2>
                        <p>
                            Amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>
                <div class="category text-light">
                    <img src="https://cdn.pixabay.com/photo/2014/12/16/22/25/woman-570883_1280.jpg">
                    </img>
                    <div class="cateDes">
                        <h2>Freedom</h2>
                        <p>
                            Amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>
                <div class="category text-light">
                    <img src="https://cdn.pixabay.com/photo/2012/03/03/23/54/animal-21668_1280.jpg">
                    </img>
                    <div class="cateDes">
                        <h2>Nature</h2>
                        <p>
                            Amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    
