@{
    ViewData["Title"] = "Home Page";
}


<section class="row vh-100 align-items-center">
    <div class="col-5">
        <h1 class="text-light" >Hello world</h1>
        <p class="text-light">
            Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
        </p>
        <button type="button" class="btn btn-primary">Get Started</button>
    </div>
    <div class="col">
        <div class="row gridContainer" style="background-color:aliceblue">
            <div class="item item1 mainitem">
                <img src="https://cdn.pixabay.com/photo/2022/06/06/09/04/tulips-7245691_1280.jpg" alt="" class="maincontent" />
                <div class="keterangan">
                    <h4 >
                        Nature
                    </h4>
                    <p>
                        Consectetur adipiscing elit fusce vel.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2014/06/30/08/02/zitronenfalter-fish-380037_1280.jpg" alt="" class="alterContent" />
                <div class="keterangan">
                    <h4>
                        Fish
                    </h4>

                </div>
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2022/06/06/10/55/cat-7245850_1280.jpg" alt="" class="alterContent" />
                <div class="keterangan">
                    <h4>
                        Cats
                    </h4>

                </div>
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2021/11/30/08/24/strawberries-6834750_1280.jpg" alt="" class="alterContent" />
                <div class="keterangan">
                    <h4>
                        Fruits
                    </h4>

                </div>
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2012/06/19/10/32/owl-50267_1280.jpg" alt="" class="alterContent" />
                <div class="keterangan">
                    <h4>
                        Owl
                    </h4>

                </div>
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2013/07/25/13/01/stones-167089_1280.jpg" alt="" class="alterContent" />
                <div class="keterangan">
                    <h4>
                        Stone
                    </h4>
                    
                </div>
            </div>
            <div class="item item7">
                <img src="https://cdn.pixabay.com/photo/2022/05/26/19/14/child-7223632_1280.jpg" alt="" class="maincontent" />
                <div class="keterangan">
                    <h4>
                        Human
                    </h4>
                    <p>
                        Consectetur adipiscing elit fusce vel.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2013/07/21/13/00/rose-165819_1280.jpg" alt="" class="alterContent" />
                <div class="keterangan">
                    <h4>
                        Rose
                    </h4>

                </div>
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2019/10/30/16/19/fox-4589927_1280.jpg" alt="" class="alterContent" />
                <div class="keterangan">
                    <h4>
                        Fox
                    </h4>

                </div>
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2015/10/09/00/55/lotus-978659_1280.jpg" alt="" class="alterContent" />
                <div class="keterangan">
                    <h4>
                        Lotus
                    </h4>

                </div>
            </div>


        </div>
        <div class="row h-50 text-light">
            Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
        </div>
    </div>
</section>