@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Show Employee";
    Layout = "_LayoutSbAdm";
}

<style>
   
</style>

<div class="" style="margin-top:150px;">
    <div class="card p-4">
        <button class="btn btn-primary mb-4" data-target="#modalInsert" data-toggle="modal">
            + Add
        </button>
        <table class="table table-striped" id="employeeTable" style="margin-top:20px">
            <thead>
                <th class="">No</th>
            <th class=""></th>
            <th class="">Name</th>
            <th class=""> Education</th>
            <th class=""> Email</th>
            <th class=""> Salary</th>
            <th class="">Gender</th>
            <th class="">Action</th>
            </thead>
            <tbody class="">
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="modalInsert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="needs-validation" novalidate>

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Insert Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="loadingWrapper">
                        <div>
                            @{
                                Html.RenderPartial("~/Views/Home/LoadingSceene.cshtml");
                            }
                        </div>
                    </div>
                    <div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="firstName_i">Email address</label>
                                    <input required type="email" class="form-control emailInsert " id="firstName_i" aria-describedby="emailHelp">
                                    <div class="invalid-feedback emailfeedbackInsert">
                                        Invalid Email
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="firstName_i">Password</label>
                                    <input required type="text" class="form-control passwordInsert" id="firstName_i" aria-describedby="emailHelp">
                                    <div class="invalid-feedback passwordFeedbackInsert">
                                        Invalid Password
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">First Name</label>
                                    <input required type="text" class="form-control firstNameInsert" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    <div class="invalid-feedback">
                                        Invalid FIrst Name
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Last Name</label>
                                    <input required type="text" class="form-control lastNameInsert" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    <div class="invalid-feedback">
                                        Invalid Last Name
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">GPA</label>
                                    <input required type="text" class="form-control gpaInsert" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                            </div>
                            <div class="col">
                                @*<div class="form-group">
                                    <input required type="text" class="form-control degreeInsert" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    <div class="invalid-feedback">
                                        Invalid Degree
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Degree</label>

                                    <select required class="form-control degreeInsert" id="exampleFormControlSelect2">
                                        <option value="D3">D3</option>
                                        <option value="D4">D4</option>
                                        <option value="S1">S1</option>
                                        <option value="S2">S2</option>
                                        <option value="S3">S3</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <label class="ml-3" for="exampleInputEmail1">Gender</label>
                                </div>
                                <div class="input-group ">


                                    <div class="row">
                                        <div class="col">
                                            <div class="form-check">

                                                <input class="form-check-input genderInsert" type="radio" name="genderInsert" id="exampleRadios1" value="Male" checked>
                                                <label class="form-check-label" for="exampleRadios1">
                                                    Male
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input genderInsert" type="radio" name="genderInsert" id="exampleRadios1" value="Female">
                                                <label class="form-check-label" for="exampleRadios1">
                                                    Female
                                                </label>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">BirthDate</label>
                                    <input required type="date" class="form-control birthDateInsert" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    <div class="invalid-feedback">
                                        Invalid Birth Date
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Salary</label>
                                    <input required type="number" class="form-control salaryInsert" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    <div class="invalid-feedback">
                                        Invalid Salary
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect2">Pilih Kampus Anda</label>
                                    <select required class="form-control universityIdInsert" id="exampleFormControlSelect2">
                                        <option value="1">Binus</option>
                                        <option value="2">UPH</option>
                                        <option value="3">UI</option>

                                    </select>
                                    <div class="invalid-feedback">
                                        Choose your Education
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Phone</label>
                                    <input required type="number" class="form-control phoneInsert" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    <div class="invalid-feedback">
                                        Invalid Phone Number
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary insert">Insert</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </form>

        </div>
    </div>
</div>



<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="updateForm" class="needs-validation-update-form" novalidate>

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">NIK</label>
                                    <input required type="text" class="form-control nikForm" id="exampleInputEmail1" aria-describedby="emailHelp" disabled>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input required type="text" class="form-control emailForm" id="exampleInputEmail1" aria-describedby="emailHelp" disabled>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Phone</label>
                                    <input required type="tel" class="form-control phoneForm" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">First Name</label>
                                    <input required type="text" class="form-control firstNameForm" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Last Name</label>
                                    <input required type="text" class="form-control lastNameForm" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">BirthDate</label>
                                    <input type="date" class="form-control birthDateForm" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Salary</label>
                            <input required type="number" class="form-control salaryForm" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>





                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary update">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $('#modalInsert').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        })

       


        let table = null
        let loading = document.querySelector(".loadingWrapper")
        loading.style.display = "none"

        //update Table User
       
        $(document).ready(function () {

            table = $('#employeeTable').DataTable({
                ajax: {
                    //url: "https://localhost:44360/api/baseController/EmployeeControllerV2/GetRegisterData",
                    url:"https://localhost:44319/api/Employee/custom",
                    dataType: "json",
                    dataSrc: "result", 
                   
                },
                "processing": true,
                "language": {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
                },

                dom: 'lBfrtip',
                buttons: {
                    "name": "primary",
                    "buttons": [
                        { extend: 'copy', className:'btn btn-primary glyphicon glyphicon-duplicate'},
                        { extend: 'csv', className:'btn btn-primary glyphicon glyphicon-duplicate'},
                        { extend: 'excel', className:'btn btn-primary glyphicon glyphicon-duplicate'},
                        { extend: 'pdf', className:'btn btn-primary glyphicon glyphicon-duplicate'},
                        { extend: 'print', className:'btn btn-primary glyphicon glyphicon-duplicate'},
                    ]
                       
                },
                columns: [
                    null,
                    {
                        className: "dt-control",
                        orderable: false,
                        data: null,
                        defaultContent:''
                    },
                    
                    {
                        data: "firstName",
                        render: (data, type, row, meta) => {
                            console.log(row)
                            return `${data} ${row.lastName} `
                        }
                    },
                    { data: "univeristyName" },
                    { data: "email" },
                    {
                        data: "salary",
                        render: (data, type, row, meta) => {
                            return `Rp. ${MonyeFormating(data)}`
                        }
                    },
                    { data: "gender" },
                    {
                        data: "nik",
                        render: function (data, type, row, meta) {
                            return `<button type="button" onClick="fetchUser('https://localhost:44319/api/Employee/custom/${data}')" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                          Detail
                                    </button>
                                    <button type="button" onClick="deleteUser('https://localhost:44360/api/baseController/EmployeeControllerV2/DeleteAlternative?nik=${data}','${row.firstName+" "+row.lastName}')" class="btn btn-danger" >
                                         Delete
                                    </button>
`;
                        }
                    }
                ]
            });
            function format(d) {
                console.log(d)
                return `
                        <table class="table">
                            <thead>
                                <th scope="col">NIK</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Email</th>
                                <th scope="col">Degree</th>
                                <th scope="col">GPA</th>
                                <th scope="col">University name</th>
                            <thead>
                            <tbody>
                            <tr>
                                <td>${d.nik}</td>
                                <td>${d.firstName}</td>
                                <td>${d.lastName}</td>
                                <td>${d.phoneNumber}</td>
                                <td>${d.email}</td>
                                <td>${d.degree}</td>
                                <td>${d.gpa}</td>
                                <td>${d.univeristyName}</td>
                            </tr>
                            </tbody>
                        </table>                    

                `
            }

            $("#employeeTable tbody").on("click", "td.dt-control", function () {
                let tr = $(this).closest('tr')
                let row = table.row(tr)
                
                if (row.child.isShown()) {
                    row.child.hide()
                    tr.removeClass("shown")
                } else {
                    row.child(format(row.data())).show()
                    tr.addClass("shown")
                }
            })
            table.on("order.dt search.dt", () => {
                let i = 1
                table.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw()



        })

        function MonyeFormating(money) {
            let moneyFormater = Intl.NumberFormat('en-Us')
            return moneyFormater.format(money)
        }

        //Delete
        function deleteUser(url, nama) {
            //if (confirm(`Apakah anda yakin ingin mengapus data ${nama}`)) DoDelete(url)

            Swal.fire({
                title: `Delete ${nama}`,
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: 'Delete',
                denyButtonText: `Don't save`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    DoDelete(url)
                    Swal.fire('Deleted!', '', 'success')
                } else if (result.isDenied) {
                    Swal.fire('Changes are not saved', '', 'info')
                }
            })

            function DoDelete(url) {
                $.ajax({
                    url,
                    type: "DELETE",
                    contentType: "application/json; charset=utf-8",

                }).done(e => {
                    console.log(e)
                    table.ajax.reload()
                   

                })
            }
        }


        //show detail user
        function fetchUser(url) {
            $.ajax({
                url
            }).done(e => {
                console.log(e)
                $(".emailForm").val(e.result.email)
                $(".nikForm").val(e.result.nik)
                $(".phoneForm").val(e.result.phone)
                $(".firstNameForm").val(e.result.firstName)
                $(".lastNameForm").val(e.result.lastName)
                $(".birthDateForm").val(moment(e.result.birthDate).format("YYYY-MM-DD").toString())
                $(".salaryForm").val(e.result.salary)
                
              

            })
        }

        function degreeConvert(univ) {
            switch (univ) {
                case 0:
                    return "D3"
                    break
                case 1:
                    return "D4"
                    break
                case 2:
                    return "S1"
                    break
                case 3:
                    return "S2"
                    break
                case 4:
                    return "S3"
                    break
                
            }
        }

        function EducationPart(edu) {
            edu.forEach(e => {
                console.log(e)
            })
        }


    </script>
    <script src="~/js/updateEmployee.js"></script>
}


