<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bg.css" />
    <link rel="stylesheet" href="~/css/content.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
            <div class="container">
                <a class="navbar-brand logo" asp-controller="Home" asp-action="Index">
                    <img src="https://hafizbukhari21.github.io/portofolio/asets/Hafiz.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                    My App
                </a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse " id="navbarNav">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
                            <li class="nav-item  ">

                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Home/Content">Content</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Home/Latihan">Latihan Pokemon</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Home/ShowEmployee">Latihan Tampil Employee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://hafizbukhari21.github.io/portofolio/">About</a>
                            </li>

                        </ul>
                       
                    </div>
            </div>
        </nav>
    </header>
    <div class="bgWrapper">
        <div class="bg">
            @*<div class="bg-circle circle1"></div>
            <div class="bg-circle circle2"></div>*@
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3 ">
            @RenderBody()

        </main>
     
    </div>

    <footer>
        <div class="row footerContent text-light">
            <p>M. Hafiz Bukhari - 2022</p>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script>
        let isChange = false
        let navbar = document.querySelector(".navbar")
        let logo = document.querySelector(".logo").addEventListener("click", e => {
            e.preventDefault();
            if (!isChange) {
                navbar.style.setProperty("background-color", "black", "important")
                isChange = true
            } else {
                navbar.style.backgroundColor=""
                isChange = false
            }

        })

    </script>
</body>
</html>
