@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <div class="container">

    </div>

    <table>
        <thead>
            <th>No</th>
            <th>Name</th>
            <th> URL</th>
        </thead>
            <tbody>

            </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script>


        //$.ajax({
        //    url: "https://localhost:44360/api/Employees",
        //    success: function (res) {
        //        //console.log(res)
        //        res.payload.forEach(e => {
        //            $(".container").append(`<div class="card text-bg-primary mb-3" style="max-width: 18rem;">
        //                      <div class="card-header">${e.firstName}</div>
        //                      <div class="card-body">
        //                        <h5 class="card-title">${e.lastName}</h5>
        //                        <p>Tanggal Ulang tahun, <strong>${convertTime(e.birthDate)}</strong> </p>
        //                      </div>
        //                    `);
        //        });
        //    }

        //})


        function convertTime(time) {
            const event = new Date(time);
            return event.toUTCString()
        }



        $.ajax({
            url: "https://pokeapi.co/api/v2/pokemon/"
        }).done(res => {
            let i =1
            res.results.forEach(e => {
                $("tbody").append(`
                    <tr>
                        <td>${i++}</td>
                        <td>${e.name}</td>
                        <td>${e.url}</td>
                    </tr>
                `)
  
            })
        }).fail(err => console.log(err))





    </script>
</body>
</html>
