@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "";
    Layout = "_LayoutSbAdm";
}



@using Microsoft.AspNetCore.Http
@using System.Net.Mail
@inject IHttpContextAccessor Accessor

    
<div class="card" style="margin-top:150px">
    <div class="card-body">
        <h3>Hello <span class="badge badge-primary">@Context.Session.GetString("nama")</span> </h3> 
    </div>
</div>

@section Scripts{

    
 }